<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>

    <title>Pet Store</title>
  </head>
  
  <body>
  <img src="/Images/abtus3.png" class="img-fluid" />
    
    <nav class="navbar navbar-expand-lg navbar-light bg-warning" >
  <div class="container-fluid">
  
  <a class="navbar-brand" href="#">
      <img src="/Images/logo.png" alt="Logo" style="width:75px;" class="rounded-pill">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
        <li class="nav-item">
        <p class="fs-4"><strong>
          <a class="nav-link active" aria-current="page" href="/">Home</a>
           </strong>
          </p>
         
        </li>
        
        <li class="nav-item">
          <p class="fs-4"><strong>
          <a class="nav-link active" aria-current="page" href="#">About Us</a>
          </strong>
          </p>
        </li>
        
        <li class="nav-item">
         <p class="fs-4"><strong>
          <a class="nav-link active" aria-current="page" href="category">Category</a>
          </strong>
          </p>
          
        <!--  </li>
        <li class="nav-item">
           <p class="fs-4"><strong>
          <a class="nav-link active" aria-current="page" href="news_events">News & Events</a>
          </strong>
          </p>
        </li>-->
        
        <li class="nav-item">
          <p class="fs-4"><strong>
          <a class="nav-link active" aria-current="page" href="contact_us">Contact Us</a>
          </strong>
          </p>
        </li>
        <li class="nav-item">
          <p class="fs-4"><strong>
          <a class="nav-link active" aria-current="page" href="shp">Shop</a>
          </strong>
          </p>
        </li>
        
      </ul>
       <p class="fs-4">
      <a class="nav-link active" aria-current="page" href="cart"><i class="fa-solid fa-cart-shopping"></i></a></p>
      
      </div>
  </div>
</nav>
		
			<div class="container text-center my-5">
			<h4>
			<em>
			Welcome to PawPalace - Unleashing Joy Since 2023
			
			</em></h4>
 			</div>
 			<div class="text-center">
 			<img src="/Images/abtp.jpg" style="width:500px;" class="rounded-pill"></div>
 			<div class="container text-center my-5">
			<h5>
			 At PawPalace, we
			believe that pets bring immeasurable joy, love, and companionship
			into our lives. That's why we embarked on this wonderful journey in
			2023, with a mission to create a haven for all pet lovers and their
			adorable companions. Our pet store is more than just a place to shop;
			it's a vibrant community dedicated to enriching the lives of pets and
			their human families. As passionate pet owners ourselves, we
			understand the special bond you share with your furry friends. That's
			why we've carefully curated a wide selection of top-notch pet
			products and accessories to cater to their every need. From premium
			pet food made with the finest ingredients to the coziest beds,
			engaging toys, stylish apparel, and more, you'll find everything your
			pet desires under our roof. But PawPalace is not just about providing
			products; it's about fostering a holistic approach to pet care.
			
			
			 Our team of knowledgeable and compassionate pet experts is always here to
			offer guidance and support, ensuring that you make the best choices
			for your pets' health, happiness, and overall well-being. As
			advocates for responsible pet ownership, we actively promote adoption
			from local shelters and rescue organizations. We believe that every
			pet deserves a loving home, and we strive to make a positive impact
			in the lives of animals in need. By shopping at PawPalace, you
			directly contribute to these meaningful initiatives and become a part
			of our pet-loving community. The PawPalace experience extends beyond
			our physical store. Our user-friendly and secure online platform
			allows you to explore our extensive catalog from the comfort of your
			home, making pet shopping a breeze. Enjoy the convenience of doorstep
			delivery and stay up-to-date with the latest pet care tips and tricks
			on our blog section. At PawPalace, we are more than a pet store; we
			are a family. We celebrate the joy and companionship that pets bring
			into our lives and strive to create a warm, inviting space for all
			pet lovers to connect, share stories, and exchange advice. Thank you
			for choosing PawPalace as your trusted pet store. Together, let's
			continue to unleash happiness and create unforgettable memories with
			our cherished four-legged friends. Welcome to the PawPalace family!</h5>
		</div>
		
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    
   <nav class="navbar navbar-expand-lg navbar-light bg-warning" >
   <div class="container-fluid">
   
  	
  	<div class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">About Us</a>
  	</div>
  	<div class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">News & Events</a>
  	</div>
  	<div class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Pet care</a>
  	</div>
  	
  	</div>
  	<div>
  	<p class="fs-4">
      <a class="nav-link active" aria-current="page" href="cart"><i class="fa-brands fa-square-facebook"></i></a></p>
  	</div>
  	<div>
  	<p class="fs-4">
      <a class="nav-link active" aria-current="page" href="cart"><i class="fa-brands fa-whatsapp"></i></a></p>
  	</div>
  	<div>
  	<p class="fs-4">
      <a class="nav-link active" aria-current="page" href="cart"><i class="fa-brands fa-instagram"></i></a></p>
  	</div>
  	<div>
  	<p class="fs-4">
      <a class="nav-link active" aria-current="page" href="cart"><i class="fa-brands fa-twitter"></i></a></p>
  	</div>
</nav>
<figure class="text-center">
  
    <p>©Copyright PawPalace. All Rights Reserved.</p>
  </figure>
    
  </body>
</html>