<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>

    <title>Pet Store</title>
  </head>
  
  <body>
  <img src="/Images/ctus2.jpg" class="img-fluid" />
    
    <nav class="navbar navbar-expand-lg navbar-light bg-warning" >
  <div class="container-fluid">
  
  <a class="navbar-brand" href="#">
      <img src="/Images/logo.png" alt="Logo" style="width:75px;" class="rounded-pill">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
        <li class="nav-item">
        <p class="fs-4"><strong>
          <a class="nav-link active" aria-current="page" href="/">Home</a>
           </strong>
          </p>
         
        </li>
        
        <li class="nav-item">
          <p class="fs-4"><strong>
          <a class="nav-link active" aria-current="page" href="/">About Us</a>
          </strong>
          </p>
        </li>
        
        <li class="nav-item">
         <p class="fs-4"><strong>
          <a class="nav-link active" aria-current="page" href="/">Category</a>
          </strong>
          </p>
          
        </li>
        <!--  <li class="nav-item">
           <p class="fs-4"><strong>
          <a class="nav-link active" aria-current="page" href="/">News & Events</a>
          </strong>
          </p>
        </li>-->
        
        <li class="nav-item">
          <p class="fs-4"><strong>
          <a class="nav-link active" aria-current="page" href="#">Contact Us</a>
          </strong>
          </p>
        </li>
        <li class="nav-item">
          <p class="fs-4"><strong>
          <a class="nav-link active" aria-current="page" href="shp">Shop</a>
          </strong>
          </p>
        </li>
        
      </ul>
       <p class="fs-4">
      <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-cart-shopping"></i></a></p>
      
      </div>
  </div>
</nav>
	<div class="container text-center my-5">
	
	<img src="/Images/sm4.jpg" class="rounded float-start" alt="start" height="50px">
	<img src="/Images/sm3.jpg" class="rounded float-end" alt="end" height="50px">
	<h2>
	<strong>
	Get in Touch with PawPalace
	
	</strong></h2>
	
	</div>
	<div class="container text-center my-5">
	<h5>
	Your Pet's Second Home! At PawPalace, we
	value open communication and are thrilled to hear from fellow pet
	lovers like you! Whether you have a question, need assistance, or
	simply want to share your furry friend's adorable moments, we are just
	a click away. Connect with us through any of the following platforms,
	and let's embark on a delightful pet-loving journey together: Facebook:
	Join our bustling Facebook community and stay up-to-date with the
	latest pet products, special promotions, and informative pet care tips.
	Don't hesitate to drop us a message, and our responsive team will be
	glad to assist you with any queries you may have. Instagram: Follow us
	on Instagram for a daily dose of cuteness overload! Share your pet's
	photos with #PawPalacePets, and they might just become the star of our
	page. Our Instagram direct messages are always open for friendly chats
	and support. WhatsApp: Need quick assistance or have an urgent inquiry?
	Reach out to us on WhatsApp, and our attentive customer service team
	will promptly respond to your messages. Save our WhatsApp number and
	have a direct line to PawPalace - we are here to help! Twitter: Stay in
	the loop with the latest pet trends, fun pet memes, and exciting
	updates by following us on Twitter. Tweet us your questions or share
	your pet's stories, and we'll make sure to retweet the most
	heartwarming moments. Whichever platform you choose, we promise a
	personalized and friendly interaction that reflects the warmth and care
	we have for all our furry customers. Whether you are a seasoned pet
	owner or a first-time adopter, PawPalace is here to support and guide
	you every step of the way. Remember, our passion for pets extends
	beyond our virtual presence. Visit our physical store for an immersive
	experience, where you can explore our extensive range of premium
	products and receive expert advice from our dedicated team. We love
	meeting our customers and their adorable companions in person! At
	PawPalace, we cherish the relationships we build with our customers,
	and your feedback is invaluable to us. Feel free to share your
	thoughts, suggestions, or even a simple "hello." Your happiness and
	satisfaction are our top priorities. Let's connect and make the world a
	better place for our four-legged friends together. Thank you for
	choosing PawPalace - where pets' dreams come true!</h5>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    
   <nav class="navbar navbar-expand-lg navbar-light bg-warning" >
   <div class="container-fluid">
   
  	
  	<div class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">About Us</a>
  	</div>
  	<div class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">News & Events</a>
  	</div>
  	<div class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Pet care</a>
  	</div>
  	
  	
  	</div>
  	<div>
  	<p class="fs-4">
      <a class="nav-link active" aria-current="page" href="cart"><i class="fa-brands fa-square-facebook"></i></a></p>
  	</div>
  	<div>
  	<p class="fs-4">
      <a class="nav-link active" aria-current="page" href="cart"><i class="fa-brands fa-whatsapp"></i></a></p>
  	</div>
  	<div>
  	<p class="fs-4">
      <a class="nav-link active" aria-current="page" href="cart"><i class="fa-brands fa-instagram"></i></a></p>
  	</div>
  	<div>
  	<p class="fs-4">
      <a class="nav-link active" aria-current="page" href="cart"><i class="fa-brands fa-twitter"></i></a></p>
  	</div>
</nav>
<figure class="text-center">
  
    <p>©Copyright PawPalace. All Rights Reserved.</p>
  </figure>
    
  </body>
</html>