<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>

    <title>Pet Store</title>
  </head>
  
  <body>
  <img src="/Images/paw.png" class="img-fluid" />
    
    <nav class="navbar navbar-expand-lg navbar-light bg-warning" >
  <div class="container-fluid">
  
  <a class="navbar-brand" href="#">
      <img src="/Images/logo.png" alt="Logo" style="width:75px;" class="rounded-pill">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
        <li class="nav-item">
        <p class="fs-4"><strong>
          <a class="nav-link active" aria-current="page" href="/">Home</a>
           </strong>
          </p>
         
        </li>
        
        <li class="nav-item">
          <p class="fs-4"><strong>
          <a class="nav-link active" aria-current="page" href="about_us">About Us</a>
          </strong>
          </p>
        </li>
        
          <li class="nav-item">
         <p class="fs-4"><strong>
          <a class="nav-link active" aria-current="page" href="category">Category</a>
          </strong>
          </p>
          
        <!--</li>
        <li class="nav-item">
           <p class="fs-4"><strong>
          <a class="nav-link active" aria-current="page" href="news_events">News & Events</a>
          </strong>
          </p>
        </li>-->
        
        <li class="nav-item">
          <p class="fs-4"><strong>
          <a class="nav-link active" aria-current="page" href="contact_us">Contact Us</a>
          </strong>
          </p>
        </li>
        <li class="nav-item">
          <p class="fs-4"><strong>
          <a class="nav-link active" aria-current="page" href="shp">Shop</a>
          </strong>
          </p>
        </li>
        
      </ul>
       <p class="fs-4">
      <a class="nav-link active" aria-current="page" href="cart"><i class="fa-solid fa-cart-shopping"></i></a></p>
      
      </div>
     
  </div>
   
</nav>
			<div class="container text-center my-5">
			<h4>
			<em>
  			
			"Pet animals, with their unwavering loyalty and affectionate hearts, bring boundless love and joy into our lives. In their presence, we find comfort, companionship, and the genuine connection that transcends words, 
			 enriching our days with warmth and happiness."
 			</em></h4>
 			
		</div>
		<img src="/Images/homepage1.jpg" class="rounded float-start" alt="start" height="200px">
		<img src="/Images/homepage2.jpg" class="rounded float-end" alt="end" height="200px">
    
		
		<div class="container text-center my-5">
		<h6>
		Pet animals, those delightful companions who warm our hearts and bring immense joy to our lives, are truly nature's gift to humanity. Each one carries its own unique charm and endearing qualities that forge an unbreakable bond between humans and animals.

		The playful exuberance of a puppy fills our days with laughter and unconditional love. Their innocent eyes gleam with curiosity as they explore the world around them, and their wagging tails express boundless happiness, making us feel cherished and adored.

		Cats, with their graceful and enigmatic demeanor, captivate us with a mysterious allure. They move with elegant precision, their soft purrs and gentle nuzzles comforting us during both joyous and challenging times, reminding us of the simple pleasures life has to offer.

		The vibrant plumage of pet birds reflects the kaleidoscope of colors in nature. Their melodious chirps and songs bring an enchanting harmony to our homes, adding a touch of serenity and charm to our everyday routines.

		For those seeking a tranquil companion, fish offer a mesmerizing underwater world that soothes the soul. Their graceful swimming and vibrant hues create an oasis of tranquility, evoking a sense of peace and calm within us.
		
		Furry creatures like rabbits and guinea pigs, with their adorable twitching noses and gentle nature, evoke a sense of tenderness and warmth. Their affectionate gestures and cuddly demeanor provide a comforting presence in our lives.

		Reptiles, though unconventional, exhibit their unique allure through their striking patterns and fascinating behaviors. The care and attention they require foster a sense of responsibility and commitment, forging a deeper bond between owner and pet.

		Regardless of the species, the love and companionship offered by pet animals are immeasurable. 
		</h6>
		</div>
		
		
	<div class="row">
  <div class="col-sm-3">
    <div class="card">
     <div class="card" style="width: 22rem;">
  <img src="/Images/german.png" class="card-img-top" alt="dog">
  <div class="card-body">
    <p class="card-text">We have many types of Pets. And feel free to choose which kind of animal that you want</p>
  </div>
</div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card" style="width: 22rem;">
  <img src="/Images/health.jpeg" class="card-img-top" alt="dog">
  <div class="card-body">
    <p class="card-text">Health is very important to your little buddy.</p>
  </div>
</div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
     <div class="card" style="width: 22rem;">
  <img src="/Images/pup.jpg" class="card-img-top" alt="dog">
  <div class="card-body">
    <p class="card-text">We will give you very good knowledge about Breed Guide and many more</p>
  </div>
</div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
     <div class="card" style="width: 22rem;">
  <img src="/Images/ptcost.jpg" class="card-img-top" alt="dog">
  <div class="card-body">
    <p class="card-text">We will guide you how to decrease Pet Expenses.</p>
  </div>
</div>
    </div>
  </div>
</div>
	
		
		
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    
   <nav class="navbar navbar-expand-lg navbar-light bg-warning" >
   <div class="container-fluid">
   
  	
  	<div class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">About Us</a>
  	</div>
  	<div class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">News & Events</a>
  	</div>
  	<div class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Pet care</a>
  	</div>
  	</div>
  	
  	
  	
  	
  	<div>
  	<p class="fs-4">
      <a class="nav-link active" aria-current="page" href="cart"><i class="fa-brands fa-square-facebook"></i></a></p>
  	</div>
  	<div>
  	<p class="fs-4">
      <a class="nav-link active" aria-current="page" href="cart"><i class="fa-brands fa-whatsapp"></i></a></p>
  	</div>
  	<div>
  	<p class="fs-4">
      <a class="nav-link active" aria-current="page" href="cart"><i class="fa-brands fa-instagram"></i></a></p>
  	</div>
  	<div>
  	<p class="fs-4">
      <a class="nav-link active" aria-current="page" href="cart"><i class="fa-brands fa-twitter"></i></a></p>
  	</div>
  	
  	
  	
  	
</nav>
<figure class="text-center">
  
    <p>©Copyright PawPalace. All Rights Reserved.</p>
  </figure>

    
  </body>
</html>